// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic,300italic&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Poppins:300,400,500,600,700,800');

@import 'header';
@import 'colors';
@import 'navigation';
@import 'illustrations';
@import 'cards';
@import 'list';
@import 'avatar';

body, html {
    background: @bg-color;
    padding: 0px;
    width: 100%;
    height: 100vh;
    z-index: 10;
    margin: 0px;
    font-family: 'Open Sans';
    font-weight: 100;
    cursor: default;
}

body {
    background: @bg-color;
    cursor: default;
    min-width: 1150px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

* {
    outline: none;
}

.row {
    margin: 0px auto;
}


a, a:hover{
    text-decoration: none;
}

.marg-right-10{
    margin-right: 10px;
}

.marg-right-20{
    margin-right: 20px;
}

.marg-left-5{
    margin-left: 5px;
}

.marg-left-10{
    margin-left: 10px;
}

.marg-left-20{
    margin-left: 20px;
}

.padd-right-5{
    padding-right: 5px !important;
}

.no-padding{
    padding: 0px !important;
}

.red{
    color: #FF5B57;
}

.yellow{
    color: #f59C1A;
}

sup{
    font-size: 0.5em;
    top: -10px;
}

.w-100{
    width: 100% !important;
}

.w-50{
    width: 50% !important;

}


.background-white{
    background: #fff;
    box-shadow: 0px 0px 2px 1px rgba(40,40,40,0.1);
}

#searchbar{
    width: 150px;
    line-height: 16px;
    margin: auto;
    transition: 0.3s ease-in 0s;
    border-radius: 30px;
}

.notification{
    position: absolute;
    margin-top: 5px;
    margin-left: -17px;
    width: 18px;
    height: 18px;
    line-height: 1;
    text-align: center;
    padding-top: 4px;
    border-radius: 50%;
    background: #FF5B57;
    color: #fff;
    font-size: 9px;
}


#searchbar:focus{
    width: 300px;
}

.navigation {
    width: 160px;
    overflow: hidden;
    height: auto;
    float: left;
    background: #2D353C;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.fake-menu{
    width: 160px;
    height: 100vh;
    float: left;
    position: relative;
    z-index: 0;
}

.module_navigation_embedd {
    // background: #1A2229;
    height: 100%;
    display:block;
    overflow-y: auto;
    padding: 0 0 0 0;
}

.nav.nav-tabs {
    background-color: @nav-bg-color;
    width: 70px;
    border: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 20px;
    float: left;

    li {
        width: 80%;
        border-radius: 5px 0px 0px 5px;
        border: none;
        margin: 0px;
        padding: 0px;
        float: right;
        color: @nav-item-text-color;
        transition: 0.15s ease-in-out 0s;
        cursor: pointer;
        margin-bottom: 1px;

        &:first-of-type i {
            position: relative;
            top: 0px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            a {
                background-color: @nav-item-hover-bg-color;
                color: @nav-item-text-color;
                opacity: 1;
            }
        }

        &.active {
            background-color: @nav-item-hover-bg-color;
            
            a {
                background-color: @nav-item-hover-bg-color;
                color: @nav-item-text-color;
                opacity: 1;
                border: 0;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: stretch;
            }

            span {
                display: block;
                transform: rotate(-90deg);
                white-space: nowrap;
                align-self: auto;
                flex: 1 0 auto;
                transform: rotate(-90deg);
                padding: 50px 0;
                line-height: 25px;
                text-transform: uppercase;
                font-size: 11px;
            }
        }

        span {
            display: none;
        }

        i {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 18px;
            align-self: auto;
            margin-top: 15px;
        }

        a {
            padding: 0px;
            margin: 0px;
            line-height: 60px;
            width: 100%;
            text-align: center;
            border-radius: 5px 0px 0px 5px;
            border: none;
            color: @nav-item-text-color;
            opacity: 0.3;
            transition: 0.15s ease-in-out 0s;

            &:focus {
                background: none;
            }
        }
    }
}



.nav-tab-content {
    background-color: @nav-item-hover-bg-color;
    width: 155px;
    height: 100%;
    color: @nav-item-text-color;
    float: left;

    h3 {
        font-size: 13px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        width: 100%;
        display: block;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 0px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0px;

        li {
            min-height: 40px;
            line-height: 40px;
            font-size: 14px;
            background-color: @nav-item-hover-bg-color;

            &.active{
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20px 20px 20px 0;
                    border-color: transparent @bg-color transparent transparent;
                    top: 0;
                    right: 0;
                }
            }

            a {
                display: block;
                width: 100%;
                height: 40px;
                color: @nav-item-text-color;
                padding: 0 20px;
            }
        }
    }

    .tab-pane {
        display: none;

        &.active {
            display: flex;
        }

        ul {
            margin-top: 30px;
        }
    }
}

.nav-ul li div:hover{
    background: #9AD268;
}

.navigation-management-web i:before{
    content: "\f0b1";
}

.navigation-management-user i:before{
    content: "\f0c0";
}

.navigation-management-service i:before{
    content: "\f0d6";
}

.navigation-management-other i:before{
    content: "\f085";
}

.module_navigation_embedd ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.module_navigation_embedd ul ul{
    overflow-y: hidden;
    font-weight: 100;
    transition: all 0.5s ease-in-out 0s;
}

.close{
    height: 0px;
    transition: all 0.5s ease-in-out 0s;
}

.open{
    height: 120px;
    transition: all 0.5s ease-in-out 0s;
}

.menu_click{
    float: left;
    position: absolute;
    margin-left: 9%;
    margin-top: 12px;
}



.obsah{
    min-height: 100%;
    padding-top: 55px;
    padding-bottom: 60px;
    overflow-x: hidden;
    width: calc(100% ~'-' 160px);
}

.text-top{
    vertical-align: top;
}

/*** BUTTONS ***/
.button-save {
    width: 80% !important;
    margin: 0px auto;
    margin-top: 20px;
    background: #1A2229;
    color: #fff;
    border: none !important;
    border-bottom: 3px solid #2D353C !important;
    box-shadow: none;
    transition: 0.3s ease-in-out 0s;
    font-weight: 600;
}

.button-save:hover{
    background: #348FE2;
    border-bottom: 3px solid #126dc0 !important;
}

/*** SUBMENU ***/
.action-name {
    padding-left: 0px;
    height: 66px;
}

// .action-submenu button:nth-of-type(3){
//     color: #00ACB6;
// }

// .action-submenu button:nth-of-type(3):hover{
//     border: 1px solid #00ACB6;
// }

// .action-submenu button:nth-of-type(1){
//     color: #FF5B57;
// }

// .action-submenu button:nth-of-type(1):hover{
//     border: 1px solid #FF5B57;
// }

// .action-submenu button:nth-of-type(2){
//     color: #F6A633;
// }

// .action-submenu button:nth-of-type(2):hover{
//     border: 1px solid #F6A633;
// }


@import 'table';


input[type=text], 
input[type=file], 
input[type=email], 
input[type=button], 
select, 
textarea {
    border: 1px solid @form-input-border-color;
    box-shadow: none;
    font-size: 12px;
    padding: 7px;
    width: 100%;
}

select, 
select.form-control {
    border: 2px solid @form-input-border-color;
    box-shadow: none;
    border-radius: 0px;
    height: 35px; 
}

input[type=text],
input[type=email] {
    border: 2px solid @form-input-border-color;
    border-radius: 0px;
    height: 35px;

    &:disabled {
        background-color: @form-input-bg-disabled-color;
    }
}

select:focus, 
select.form-control:focus {
      border: 2px solid #bbb;
    box-shadow: none;
    border-radius: 0px;
    height: 35px;  
}

textarea, textarea.form-control{
    border: 2px solid @form-input-border-color;
    box-shadow: none;
    border-radius: 0px;
}
textarea:focus, textarea.form-control:focus{
    border: 2px solid #bbb;
    box-shadow: none;
    border-radius: 0px;
}

input:focus, textarea:focus {
    border: 2px solid @form-input-focus-border-color;
}

textarea {
    resize: vertical;
}

textarea.short{
    min-height: 140px;
}

textarea.long{
    min-height: 200px;
}

.blue{
    background: #348FE2;
}

.blue:hover{
    background: #2a72b5;
}

.product_photo_box{
    border: 1px solid #A8ACB1;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    min-height: 80px;
    margin-top: 20px;
}

.product_photo_box:first-of-type{
    margin-top: 0px;
}

.product_photo_box div{
    padding: 0px;
}

.product_photo_box div:last-of-type{
    padding-left: 10px;
}

.product_photo{
    max-height: 80px;
}

.product_photo_box input:last-of-type{
    margin-top: 10px;
}

.product_photo_controls{
    font-size: 10px;
}

.product_photo_contros input{
    width: 10px;
    float: left;
}

.product_photo_controls label{
    position: relative;
    top: -3px;
    left: 3px;
}

.product_photo_controls i{
    margin-left: 6px;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px;
}
.clear{
    clear: both;
}
.product_photo_controls .control_div{
    width: 33.3%;
    float: left;
    line-height: 31px;

}

.delete_product{
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
    margin-left: -35px !important;
}

.product_photo_controls .control_div:last-of-type{
    width: 100%;
    padding-left: 0px;
    padding-top: 2px;
    line-height: 30px;
}

label{
    cursor: pointer;
}

.table_controls a{
    display: inline !important;
}

.table_controls i{
    float: right;
    margin-right: 15px;
}

#alertBox{
    color:#ffffff;
    font-family: open sans;
    font-size: 1em;
    line-height:1.2;
    background: #242A30;
    display:none;
    right:30%;
    position:absolute;
    padding:20px 50px;
    max-width:30%;
    border: 3px solid #fff;
    border-top: none;
    z-index: 346457454;
    position: fixed;
    font-weight: 500;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.26) !important;
    border-radius: 0px 0px 5px 5px;
    }

    
.file_uploader .file_uploader_item_status_bar {
    background: green;
    height: 3px;    
}

.file_uploader .file_uploader_stopped .file_uploader_item_status_bar {
    background: red;
}

.file_uploader .file_uploader_error .file_uploader_item_status_bar {
    background: red;
}

.file_uploader_error_item {
    font-weight:bold;
    color:red;
    font-size: 110%;
}

.file_uploader_item {
    height: 50px;
}

.file_uploader .file_uploader_item_status_icon {
    float: left;
    margin-right:10px;
}

.file_uploader .file_uploader_item_status_bar_container {
    width:100%;
    float:left;
    height:3px;
}

.file_uploader .file_uploader_item_name {
    font-weight:bold;
    display:inline-block;
}

.file_uploader .file_uploader_item_size {
    float: right;
}

.file_uploader input[type=file]{
    width:100%;
    height:80px;
    margin:0;
    padding:0;
    opacity:0;
    cursor:pointer;
}

.file_uploader_input {
    background:#2D353C;
}

.file_uploader_placeholder {
    position:relative;
    width:100%;
    top:30px;
    text-align:center;
    color:white;
    height:0;
}

.file_uploader_dragover .file_uploader_input 
{
    background:#578BC6 ;
}

.file_uploader_item_abort {
    display: inline-block;
    float:right;
}

.file_uploader_item_abort {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*
    MODULE NODE
*/
.node_selected {
    font-weight: bold;
}

.node_types, .nodeable_actions {
    .noselect;
    
    list-style-type: none;
    
    li {
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: inline-block;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.page-border {
    width: 100%;
    min-width: 1150px;
    height: 100vh;
}

.profile {
    padding: 20px;

    .user {
        color: @profile-text-color;
        white-space: nowrap;
        display: grid;
        grid-template-columns: 40px auto;
        grid-template-rows: auto auto;
        align-items: center;
        justify-content: flex-start;

        i {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 3;
            grid-column-end: 1;

            svg {
                width: 30px;
            }
        }

        em {
            font-style: normal;
            grid-row-start: 1;
            grid-column-start: 2;
            grid-row-end: 1;
            grid-column-end: 2;
            line-height: 20px;
            font-size: 13px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 600;
        } 

        span {
            font-size: 9px;
            letter-spacing: 2px;
            color: @profile-minor-text-color;
            text-transform: uppercase;
            grid-row-start: 2;
            grid-column-start: 2;
            grid-row-end: 2;
            grid-column-end: 2;
        }
    }

    .actions {
        margin-top: 30px;
    }
    .actions a {
        display: flex;
        justify-content: flex-end;

        font-size: 12px;
    }
}

.page {
    width: calc(100% - 225px);
    height: 100vh;
    padding: 20px 40px;
    padding-bottom: 90px;
    overflow-y: auto;
    position: relative;

    h1, h2, h3 {
        font-family: 'Poppins';
        font-weight: 300;
        margin-top: 0;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    label {
        font-weight: 400;
    }

    .save-view-buttons {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .btn {
            min-width: 100px;
            max-width: 300px;
        }
    }
}

.dash-nav{
    background: #c7ced5;
    width: 100%;
    height: 65px;
}

.coming_soon{
    position: relative;
}

.coming_soon:after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(200,200,200,0.5);
    border: 5px dashed #eee;
    content: "Připravujeme";
    font-size: 2em;
    text-align: center;
}

.dash-nav div{
    padding: 0px;
    line-height: 65px;
    height: 65px;
}

.dash-nav i{
    font-size: 50px;
    height: 65px;
    line-height: 65px;
    padding-left: 15px;
    float: left;
    color: #888;
}

.dash-nav i .badge{
    position: absolute;
    margin-left: -20px;
    margin-top: 10px;
    background: #EA0404;
}

.dash-nav p{
    float: left;
    padding-left: 10px;
}

.dash-nav div:hover{
    background: #a7aeb5;
    cursor: pointer;
}

.dash-nav div:hover i{
    color: #333;
}

.row-fluid .fast-box-border:nth-of-type(n+1){
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 20px;
}

.row-fluid .fast-box-border:nth-of-type(2n){
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 20px;
}

.fast-box{
    background: #fff;
    height: 270px;
}

.fast-box-border h4{
    padding: 0px;
    margin: 0px;
    display: block;
    border-bottom: 1px solid #ddd;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding-left: 7px;
    background: #fff;
}

.fast-box.dashboard{
    overflow-y: scroll;
}



.page-nav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #aaa;
}

i.no-active{
    color: #999;
}

.page-number{
    width: 20px;
    height: 20px;
    line-height: 17px;
    border: 1px solid #333;
    display: inline-block;
    text-align: center;
    background: #fff;
}






.email-templates {
    margin-top: 0;

    tr:hover td {
        background-color: transparent;
    }

    label {
        font-weight: 600;
    }
}



.td-small {
  width: 10% !important;
}
.td-xsmall {
  width: 4%;
}
.td-big {
  width: 40%;
}

.td-w35{
    width: 35%;
}

.td-w150{
    width: 150px;
}

.tr-collored td {
  background: #2d353c;
  color: #fff;
  font-weight: 600;
}
.tr-collored:hover td {
  background: #1A2229 !important;
}

.module-containter .table-default:first-of-type {
  margin-top: 0px;
}
.table-default-content {
  margin-top: 0px;
}
.table-content {
  overflow: hidden;
  max-height: 0px;
}



.dashboard-embed-inner{
    overflow-y: scroll;
    height: 295px;
}

.dashboard-embed-post{
    background: #eee;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post-important{
    background-color: rgba(255,0,0,0.15);
}

.dashboard-embed-post:last-of-type{
    margin-bottom: 10px;
}



.clear{
    clear: both;
}

.clear.last{
    margin-bottom: 20px;
}

.f-l{
    float: left;
}

.f-r{
    float: right;
}

.h50{
    height: 50px;
}

.m-l10{
    margin-left: 10px;
}

.r{
    position: relative
}

.r.l10{
    left: 10px;
}

.r.l20{
    left: 20px;
}

.r.l30{
    left: 30px;
}

.r.r10{
    right: 10px;
}

.r.r15{
    right: 15px;
}

.pt-10{
    padding-top: 10px;
}

.pt-15{
    padding-top: 15px;
}

.pt-20{
    padding-top: 20px;
}

.pb-20{
    padding-bottom: 20px;
}

.pb-10{
    padding-bottom: 10px;
}

.pb-5{
    padding-bottom: 5px;
}

.pl-10{
    padding-left: 10px;
}

.pl-15{
    padding-left: 15px !important;
}

.pa-15{
    padding: 15px;
}

.lh-35{
    line-height: 35px;
}

.btn {
    border: 1px solid #78b046;
    border-bottom: 2px solid #78b046;
    background-color: #9AD268;
    color: #fff;

    &:hover{
        background-color: #88c056;
        color: #fff;
    }
}


.btn-yellow {
    background-color: #F6A633;
    border-color: #d68613 !important;  

    &:hover{
        background-color: #e69623;
    }
}

.btn-blue {
    background-color: #2a72b5;
    border-color: #1961a4 !important;   

    &:hover{
        background-color: #1961a4;
    }
}

.btn-red {
    background-color: #EA0404;
    border-color: #d90202 !important;   
}

.btn-red:hover{
    background-color: #ca0000;
}

.w-150p{
    width: 150px !important;
}

.address_admin_close{
    height: 0px;
    overflow: hidden;
}

#icon-box{
    height: 58px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.icon-box-button{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.metro_group{
    height: 200px;
    background: #00ACB6;
}

.metro_group a{
    color: #fff;

}

#last_logins{
    height: 200px;
    overflow-y: scroll;
    width: 100%;
    max-width: 250px;
    border: 1px solid #ddd;
    
}

/// KNRK EDITS ///


nav {
    padding-top: 64px;
    background-color: @main-nav-bg-color;
    border-right: 1px solid @main-nav-border-color;
    height: 100%;
    
    ul {
        flex: 1 0 auto;
    }

    input[type='radio'] {
        display: none;
    } 

    input[type='radio'] ~ ul {
        display: none;
    }

    input[type='radio']:checked ~ ul {
        display: flex;
        flex-direction: column;
    }

    input[type='radio']:checked + label,
    ul li.active > a {
        color: @main-nav-selected-text-color;
        font-weight: 700;
    }

    label,
    li a {
        display: flex;
        align-items: center;
        color: @main-nav-text-color;
        line-height: 48px;
        margin-bottom: 0;
        border-top: 1px solid @main-nav-border-color;
        font-weight: 400;
        padding: 0 20px;

        &:hover {
            background: linear-gradient(to right, rgba(244,247,255,1) 0%,rgba(125,185,232,0) 100%);
        }

        svg {
            margin-right: 15px;
            width: 24px;
        }
    }

    li a {
        padding-left: 60px;
    }

    i {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 16px;
        margin-right: 10px;
    }
}

.no-display {
    display: none;
}

.input[type=submit].button,
.button {
    line-height: 18px;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    color: @button-text-color;
    background-color: @button-bg-color;
    border: 2px solid transparent;
    box-shadow: none;
    padding: 4px 8px;
    min-width: 120px;
    max-width: 300px;

    &:focus {
        border-color: @form-input-focus-border-color;
    }

    &:hover {
        background-color: @button-bg-hover-color;
        color: @button-text-hover-color;
        text-decoration: none;
    }
}

button a {
    &:hover
    &:focus,
    &:visited {
        text-decoration: none;
    }
}

.separator {
    box-sizing: border-box;
    width: 120px;
    height: 5px;
    margin: 0px auto;
    background-color: @separator-minor-color;
    border-right: 60px solid @separator-major-color;
    border-top: 0;
    margin-bottom: 20px;
}
hr.separator {
    margin-top: 40px;
}

.table-filter {
    background-color: @table-filter-bg-color;
    border-top: 1px solid @table-filter-bg-color;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: -40px;
    margin-right: -40px;

    &.collapsed {
        .filter-container {
            display: none;
        }
    }

    .filter-container {
        width: 100%;
    }

    .filter-content {
        padding: 40px;
    }

    .filter-handle {
        background-color: @table-filter-bg-color;
        display: flex;
        position: absolute;
        bottom: -20px;
        width: 150px;
        justify-self: center;
        justify-content: center;
        cursor: pointer;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-transform: uppercase;
        font-size: 9px;
        letter-spacing: 4px;
        padding: 4px 0;
    }

}
.filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-gap: 10px;

    &.generate-invite-code {
        grid-template-columns: repeat(2, 1fr) auto;
    }
    &.companies,
    &.payments {
        grid-template-columns: 1fr;
    }

    label {
        display: block;
    }

    .submit {
        align-self: end;
        justify-self: end;
        height: 34px;
    }
}

.form {
    .picker {
        min-width: 260px;
        max-width: 300px;
    }

    .chosen-container-single,
    .chosen-container-single.chosen-container-active {
        .chosen-single {
            border-radius: 0;
            border: 2px solid @form-input-border-color;
            box-shadow: none;
            background: @form-input-bg-color;
            height: 35px;

            span {
                line-height: 32px;
                vertical-align: middle;
                font-size: 12px;
            }

            div b {
                background-position-y: 8px;
            }
        }
        
        .chosen-drop {
            border: 2px solid @form-input-border-color;
            border-radius: 0;
            box-shadow: none;
        }

        .chosen-results {
            margin-right: 0;
            margin-left: 0;
            padding-left: 0;

            li {
                font-size: 12px;

                &.highlighted {
                    background-color: #ccc;
                    background-image: none;
                }
            }
        }
    }
    .chosen-container-single.chosen-container-active,
    .chosen-container-single.chosen-container-active.chosen-with-drop {
        .chosen-single {
            border: 2px solid @form-input-focus-border-color;
            box-shadow: none;
            background: @form-input-bg-color;

            div b {
                background-position: -16px 8px;
            }
        }
    }
}

.investments-by-month {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

    margin-top: 20px;

    a {
        flex: 0 1 auto;
        align-self: auto;
        display: inline;
        border: 2px solid #ccc;
        color: black;
        padding: 4px 8px;
        line-height: 22px;
        font-size: 12px;
        min-width: 120px;
        max-width: 140px;

        &:hover {
            border-color: #333;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.investment-new {
    width: 50%;
}

.investments-new {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        align-items: start;
    }

    table td label {
        margin-bottom: 0;
    }
}

.investment-termination-edit {
    .dates {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

.investment-edit  {
    .row.noneditable {
        border-bottom: 1px solid @form-noneditable-border-color;

        div {
            padding: 30px;
            border-right: 1px solid @form-noneditable-border-color;
            
            &:last-child {
                border-right: none;
            }
        }

        label {
            font-weight: 200;
            display: block;
            margin-bottom: 0;
            color: #afafaf;
            text-transform: uppercase;
            font-size: 11px;
        }
        label + b {
            font-size: 18px;
        }
    }
}

.overdue {
    color: red;
    font-weight: 800;
}

.page-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0px;
    user-select: none;

    .tile {
        display: flex;
        justify-content: center;
        font-weight: 600;
        white-space: nowrap;
        border-radius: 3px;
        margin-left: 5px;
        background-color: @page-actions-bg-color;
        transition: 0.1s ease-in-out 0s;
        border: 1px solid transparent;
        min-width: 120px;
        max-width: 200px;    

        &:hover {
            background-color: @page-actions-hover-bg-color;
            color: @page-actions-hover-text-color;
        }
        
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            line-height: 40px;
            font-size: 13px;
            color: @page-actions-text-color;
            padding: 0 15px;

            &:hover,
            &:focus {
                text-decoration: none;
                color: @page-actions-hover-text-color;

                svg {
                    fill: @page-actions-hover-text-color;
                }
            }

            i {
                margin-right: 10px;

                &.fa-2x {
                    font-size: 18px;
                }
            }

            svg {
                width: 20px;
                margin-right: 6px;
            }
        }
    }
}

.inline-sort {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


// override table definitions
.list-services,
.list-articles {
    .arrow-up,
    .arrow-down {
        float: none;
        margin: 0;
        padding: 0 2px;

        &:last-child {
            padding: 0;
        }
    }
    .arrow-down {
        align-self: flex-end;
    }
}

.list {
    background-color: @list-bg-color;
    border: 1px solid @list-border-color;
    border-radius: @list-border-radius;
    color: @list-text-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    font-family: 'Poppins';

    .cell {
        padding: 20px;
        border-right: 1px solid @list-border-color;
        text-align: left;
        flex: 1 0 auto;

        &:last-child {
            border-right: 0;
        }

        em {
            font-size: 20px;
            font-weight: 500;
            display: block;
            font-style: normal;
            letter-spacing: 0.5px;
            line-height: 14px;
        }
        label {
            font-weight: 400;
            text-transform: uppercase;
            color: @list-minor-text;
            font-size: 10px;
            margin-bottom: 0;
            cursor: inherit;
        }
    }
}

.tooltip {
    .tooltip-inner {
        min-width: 50px;
        max-width: 300px;
    }
}